<header class="border-b border-slate-300 shadow-md bg-white relative">
    <nav class="navbar flex justify-between items-center w-4/5 mx-auto">
        <button type="button" class="md:hidden" title="Toggle menu" (click)="isShowMainMenu = !isShowMainMenu">
            <fa-icon [icon]="faBars" class="text-2xl"></fa-icon>
        </button>
        <a href="" class="nav-brand flex items-center space-x-4">
            <img src="./assets/logo.png" alt="" class="w-12">
            <span class="text-2xl font-bold">Todo App</span>
        </a>
        <div class="md:flex justify-center items-center *:block *:p-4 *:hover:bg-blue-500 *:hover:text-white"
            [ngClass]="isShowMainMenu ? 'block border-t border-slate-200 bg-white absolute top-full left-0 w-full *:border-b *:border-slate-200' : 'hidden'">
            <a href="">Home</a>
            <a href="">Management</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
        <div class="profile-menu relative cursor-pointer" (click)="isShowProfileDropdown = !isShowProfileDropdown">
            <img src="./assets/avatars/avatar-1.png" alt="" class="w-12 border border-blue-500 rounded-full">
            <div class="profile-dropdown absolute top-full right-0 bg-white shadow-md w-[250px] rounded-md *:block *:p-4 *:hover:bg-blue-500 *:hover:text-white "
                [ngClass]="{'hidden': !isShowProfileDropdown}">
                <a href="" class="border-b border-slate-100 hover:rounded-t-md">Cong Dinh</a>
                <a href="" class="hover:rounded-b-md">Logout</a>
            </div>
        </div>
    </nav>
</header>