<!-- List -->
<div class="card bg-white my-4 rounded-md shadow-md">
    <!-- List Items -->
    <div class="card-body p-4">
        <table class="w-full border-collapse">
            <thead>
                <tr class="*:p-2 *:border *:border-gray-200">
                    <th *ngIf="isShowNumber">No</th>
                    <th *ngFor="let item of columns">
                        {{item.name}}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="data && data.items.length!=0;else emptyData">
                    <tr *ngFor="let item of data.items; let i = index" class="*:p-2 *:border *:border-gray-200">
                        <td *ngIf="isShowNumber">{{currentPageSize * (currentPage -1) + i + 1}}</td>
                        <td *ngFor="let column of columns">
                            {{item[column.value]}}
                        </td>
                        <td>
                            <div class="flex space-x-2 *:cursor-pointer">
                                <button class="border-0" title="Edit" type="button" (click)="onEdit.emit(item.id)">
                                    <fa-icon [icon]="faEdit" class="text-blue-500 hover:text-blue-700"></fa-icon>
                                </button>
                                <button class="border-0" title="Edit" type="button" (click)="onDelete.emit(item.id)">
                                    <fa-icon [icon]="faTrash" class="text-red-500 hover:text-red-700"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #emptyData>
                    <tr>
                        <td colspan="4" class="text-center">No data found</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="card-footer p-4 border-t border-gray-200 flex justify-between items-center">
        <!-- Page Size -->
        <div class="page-size">
            <label for="page-size" class="mr-4">Items per page:</label>
            <select id="page-size" class="p-2 border border-gray-200 rounded-sm" [(ngModel)]="currentPageSize"
                (change)="onPageSizeChange.emit($event)">
                <option *ngFor="let item of pageSizeOptions" [value]="item">{{item}}</option>
            </select>
        </div>
        <!-- Page Items -->
        <nav
            class="page-items flex items-center space-x-2 text-slate-500 *:w-10 *:h-10 *:hover:bg-blue-500 *:hover:text-white *:rounded-full *:border *:border-blue-500 *:cursor-pointer">
            <button (click)="onPageChange.emit(1)"
                class="disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:text-slate-500"
                title="First" type="button" [disabled]="currentPage==1">
                <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
            </button>
            <button (click)="onPageChange.emit(currentPage-1)"
                class="disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:text-slate-500"
                title="First" type="button" [disabled]="currentPage==1">
                <fa-icon [icon]="faAngleLeft"></fa-icon>
            </button>
            <ng-container *ngFor="let item of generatePageItems()">
                <button (click)="onPageChange.emit(item)"
                    class="disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:text-slate-500"
                    title="First" type="button" [ngClass]="{'bg-blue-500 text-white': item==currentPage}">
                    {{item}}
                </button>
            </ng-container>

            <button (click)="onPageChange.emit(currentPage+1)"
                class="disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:text-slate-500"
                title="First" type="button" [disabled]="data && currentPage===data.totalPages">
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </button>
            <button (click)="onPageChange.emit(data.totalPages)"
                class="disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:text-slate-500"
                title="First" type="button" [disabled]="data && currentPage===data.totalPages">
                <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
            </button>
        </nav>
        <!-- Page Info -->
        <div class="page-info">
            <!-- page 1: pageSize*(pageNumber-1) + 1 - pageSize of totalItem -->
            <!-- page 2: pageSize*(pageNumber-1) + 1 - pageSize of totalItem -->
            <!-- page 2: pageSize*(pageNumber-1) + 1 - pageSize of totalItem -->
            {{generatePageInfo()}}
        </div>
    </div>
</div>